<div class="login animated fadeIn" style="margin-top:100px;">

<div class="formulario animated fadeIn">
  <p class="texto animated fadeIn">¿Has olvidado la contraseña?</p>

  <div class="alert alert-danger animated fadeIn" *ngIf="err == 'auth/user-not-found'">
    No existe una cuenta con este Correo Electrónico o el usuario puede haber sido Eliminado.
  </div>

  <div class="alert alert-danger animated fadeIn" *ngIf="err == 'auth/invalid-email'">
    El Email que ingresaste es incorrecto Favor de ingresarlo Correctamente.
  </div>

<form [formGroup]="password" (ngSubmit)="handlePassword()">
    <p>
      <mat-form-field>
        <input type="email" style="color: #000;" formControlName="email" matInput placeholder="Correo Electronico">
      </mat-form-field><br>
    </p>

    <button class="btn btn-success" mat-button style="background-color:#e72424;" type="submit">Restablecer Contraseña</button>


</form>
</div>
</div>
